<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Todo</title>
</head>
<body>
    <h1>Add new Todo</h1>
    <form action="#" th:action="@{/todo/addNew}" th:object="${newTodo}" th:method="post">
        <label th:for="*{title}">Task description:</label>
        <input th:type="text" th:field="*{title}">
        <fieldset>
        <legend>Is the task urgent?</legend>
            <label th:for="isUrgent">Yes</label>
            <input th:type="radio" id="isUrgent" th:field="*{urgent}" th:value="true">
            <label th:for="notUrgent">No</label>
            <input th:type="radio" id="notUrgent" th:field="*{urgent}" th:value="false">
        </fieldset>
        <button th:type="submit">Add new Todo</button>
    </form>

</body>
</html>
