<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Todo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container">
    <h1>Are you sure you want to delete this Todo?</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ACTION</th>
                <th>DONE</th>
                <th>URGENT</th>
            </tr>
        </thead>
        <tbody>
            <tr th:object="${todo}">
                <td th:text="*{getId()}"></td>
                <td th:text="*{getTitle()}"></td>
                <td th:text="*{isDone()}"></td>
                <td th:text="*{isUrgent()}"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <form action="#" method="post">
        <input type="submit" value="Delete">
    </form>
    <a href="/todo/list">Cancel</a>
</body>
</html>
