<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new Todo</title>
</head>
<body>
    <h1>Add new Todo</h1>
    <form action="#" method="post">
        <!--<label for="title">New Todo description:</label>-->
        New Todo description:
        <input type="text" name="title">
        <fieldset>
            <legend>Is the Todo urgent?</legend>
            <input type="radio" name="urgent" value="true">Yes<br>
            <input type="radio" name="urgent" value="false">No
        </fieldset>
        <input type="submit">
    </form>

</body>
</html>
