<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>
    <link rel="stylesheet" th:href="@{/list.css}"/>
</head>
<body>
    <h1>Todos for today</h1>
    <a th:href="@{/todo/addNew}">Add new Todo</a> <br>
    <a th:href="@{|/todo/list?isActive=true|}">Filter active Todo</a>
    <a th:href="@{/todo/list}">Show all todo</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ACTION</th>
                <th>URGENT</th>
                <th>DONE</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todoList}" th:object="${todo}">
                <td th:text="*{getId()}"></td>
                <td th:text="*{getTitle()}"></td>
                <td th:text="*{isUrgent()}"></td>
                <td th:text="*{isDone()}"></td>
                <td><a th:href="@{|*{getId()}/delete|}">delete</a></td>
                <td><a th:href="@{|*{getId()}/edit|}">edit</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
