<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FoxClub Login</title>
</head>
<body>
    <h1>Welcome to the FoxClub!</h1>
    <p>What is the name of your fox? (If there is no fox by that name, a new will be created)</p>
    <form action="#" th:action="@{/}" th:object="${fox}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" th:field="*{name}" required>
        <button type="submit">get</button>
    </form>

</body>
</html>
