<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments.html::head_boilerplate">
    </th:block>
    <title>All posts</title>
</head>
<body class="container">
    <h1 class="text-center display-4">Top posts</h1>
    <div class="text-center">
        <a th:href="@{/new_post}" class="btn btn-primary btn-block">Create new post</a>
    </div>
    <br><br>
    <div th:each="post: ${posts}" th:object="${post}" class="list-group">
        <div class="list-group-item">
            <span th:text="*{getPostDate()}" class="font-weight-bold col-2"></span>
            <a th:href="@{|/*{getId()}/upvote|}" class="btn btn-success"><i class="fas fa-arrow-alt-circle-up"></i></a>
            <span th:text="*{getScore()}" class="font-weight-bold col-1"></span>
            <a th:href="@{|/*{getId()}/downvote|}" class="btn btn-danger"><i class="fas fa-arrow-alt-circle-down"></i></a>
            <a th:href="@{|/*{getId()}/details|}" th:text="*{getTitle()}" class="col-7"></a>
        </div>
    </div><br>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:class="${current_page} == 1 ? |page-item disabled| : |page-item|">
                <a class="page-link" th:href="@{|/?pg=${current_page - 1}|}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <th:block th:each="page_number : ${page_numbers}">
                <li th:class="page_number == ${current_page} ? |page-item active| : |page-item|">
                    <a class="page-link" th:href="|/?pg=${page_number}|" th:text="${page_number}"></a>
                </li>
            </th:block>
            <li th:class="${current_page} == ${last_page} ? |page-item disabled| : |page-item|">
                <a class="page-link" th:href="@{|/?pg=${current_page + 1}|}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>
