<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit new post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="container">
    <h1 class="display-4">Create a new post</h1>
    <form class="form-group" action="#" method="post" th:object="${newPost}">
        <label>Title
            <input th:type="text" th:field="*{title}" class="form-control" required>
        </label><br>
        <label>Text
            <textarea th:type="text" th:field="*{body}" class="form-control" required></textarea>
        </label><br>
        <label>URL
            <input th:type="url" th:field="*{mediaURL}" class="form-control">
        </label><br>
        <button th:type="submit" class="btn btn-success">Post</button>
        <button th:type="reset" class="btn btn-primary">Reset</button>
        <a th:href="@{/}" class="btn btn-secondary">Cancel</a>
    </form>
</body>
</html>
