<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit new post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container">
    <h1>Submit a new post</h1>
    <form class="form-group" action="#" method="post" th:object="${newPost}">
        <label th:for="title">Title
            <input th:type="text" th:field="*{title}" class="form-control" required>
        </label><br>
        <label th:for="postBody">Text
            <textarea th:type="text" th:field="*{postBody}" class="form-control" required></textarea>
        </label><br>
        <label th:for="mediaLink">URL
            <input th:type="url" th:field="*{mediaLink}" class="form-control">
        </label><br>
        <button th:type="submit" class="btn btn-success">Post</button>
        <button th:type="reset" class="btn btn-primary">Reset</button>
        <a th:href="@{/}" class="btn btn-secondary">Cancel</a>
    </form>
</body>
</html>
