<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments.html::head_boilerplate">
    </th:block>
    <title th:text="${post.getTitle()}"></title>
</head>
<body class="container">
    <div th:object="${post}">
        <h1 th:text="*{getTitle()}" class="text-center display-4"></h1>
        <p th:text="|Score: *{getScore()}|"></p>
        <p th:text="|Posted at: *{getPostDate()}|"></p>
        <p th:text="*{getBody()}"></p>
        <a th:href="@{|*{getMediaURL()}|}" th:text="*{getMediaURL()}" target="_blank"></a>
        <br><br>
        <div class="text-center">
            <a th:href="@{/}" class="btn btn-primary btn-block">Back to the posts</a>
        </div>
    </div>
</body>
</html>
