<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show all Accounts</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
  <table>
      <thead>
         <tr>
              <th>List index</th>
              <th>Account owner</th>
              <th>Balance</th>
              <th>Currency</th>
              <th>Owner animal type</th>
              <th>Morality</th>
         </tr>
      </thead>
      <tbody>
           <tr th:each="bankAccount, stat : ${bankAccountList}" th:style="${bankAccount.isOwnerKing()} ? 'color: gold; font-weight: 900'">
               <td th:text="|${stat.index}|"></td>
               <td th:text="|${bankAccount.name}|"></td>
               <td th:text="|${#numbers.formatDecimal(bankAccount.balance, 0, 'COMMA', 2, 'POINT')}|"></td>
               <td th:text="|${bankAccount.currency}|"></td>
               <td th:text="|${bankAccount.animalType}|"></td>
               <div th:switch="${bankAccount.isOwnerGoodGuy()}">
                    <td th:case="true">
                        Good guy
                    </td>
                   <td th:case="false">
                        Bad guy
                    </td>
               </div>
           </tr>
       </tbody>
   </table>
</body>
</html>
